<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Console Log</title>
    <style>
        #console {
            width: 100%;
            height: 400px;
            background-color: #000;
            color: #0f0;
            padding: 10px;
            overflow-y: scroll;
            font-family: monospace;
        }
        a {
            display: block;
            margin: 20px 0;
            color: #00f;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Console Log</h1>
    <div id="console"></div>
    <a href="/display">Go to Display</a>

    <script type="module">
        import { io } from "https://cdn.socket.io/4.7.5/socket.io.esm.min.js";

        const socket = io();

        var consoleDiv = document.getElementById('console');

        socket.on("connect", () => {
            console.log('Connected to WebSocket');
        });

        socket.on("connect_error", (error) => {
            console.log('Connection Error: ', error.message);
        });

        socket.on('new_data', (data) => {
            console.log('Received data:', data.message);
            var newLog = document.createElement('div');
            newLog.textContent = data.message;
            consoleDiv.appendChild(newLog);
            consoleDiv.scrollTop = consoleDiv.scrollHeight;
        });

        socket.on("disconnect", (reason) => {
            console.log('Disconnected: ', reason);
        });
    </script>
</body>
</html>
